* {
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.header {
    width: 100%;
    height: 669px;
    background-image: url(../images/donation2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(87, 84, 84);
    background-blend-mode: multiply;
    text-align: center;
    align-items: center;
    margin: auto;
}

.header-box {
    height: 280px;
    width: 680px;
    text-align: center;
    padding: 175px 307px;
}

.header-title {
    color: #FFFFFF;
    font-size: 50px;
    text-align: center;
}

.header-description {
    color: white;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 30px
}

.btn-primary {
    background-color: rgba(230, 66, 66, 0.811);
    padding: 15px;
    border-radius: 5px;
    border: 0;
    color: white;
    font-size: 20px;
}

/* main style */
main {
    width: 1140px;
}

section {
    margin-top: 130px;
}

.donate-title {
    font-weight: 700;
    font-size: 45px;
    color: #121212;
    text-align: center;
    width: 350px;
    height: 54px;
}

.donate-description {
    font-weight: 400;
    font-size: 18px;
    color: #707070;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 691px;
    height: 56px;
}

.donate-tk {
    display: flex;
}

.btn-1 {
    width: 135px;
    height: 123px;
    background: #FAFAFA;
    border-radius: 5px;
    border: 0;
    font-weight: 700;
    font-size: 30px;
    color: #707070;
}

.btn-2 {
    background: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
    width: 136px;
    height: 123px;
    font-weight: 700;
    font-size: 30px;
    color: #FF5959;
}

.input {
    text-align: center;
}

.input-tk {
    font-weight: 400;
    font-size: 18px;
    color: #B3B3B3;
    text-align: center;
    border: 0;
    margin-top: 60px;
    margin-bottom: 10px;
}

hr {
    margin-bottom: 30px;
}

.bnt2 {
    text-align: center;
}

/* donate plan section */
.donate-plan-title {
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    color: #121212;
    width: 400px;
    height: 54px;
}

.donate-plan-description {
    font-weight: 400;
    font-size: 18px;
    color: #707070;
    text-align: center;
    width: 691px;
    height: 56px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.donate-plan-container {
    display: flex;
    gap: 33px;
}

.donate-plan-subcontainer1 {
    width: 350px;
    height: 250px;
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
    padding: 30px;
}

.donate-plan-subcontainer1 h3 {
    margin-top: 32px;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 24px;
    color: #121212;
}

.donate-plan-subcontainer1 p {
    font-weight: 400;
    font-size: 16px;
    color: #707070;
    width: 315px;
    height: 101px;
}

.donate-plan-subcontainer2 {
    width: 350px;
    height: 250px;
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
    padding: 30px;
}

.donate-plan-subcontainer2 h3 {
    margin-top: 32px;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 24px;
    color: #121212;
}

.donate-plan-subcontainer2 img {
    width: 58.13px;
    height: 49.77px;
}

.donate-plan-subcontainer2 p {
    font-weight: 400;
    font-size: 16px;
    color: #707070;
    width: 315px;
    height: 101px;
}

.donate-plan-subcontainer3 {
    width: 350px;
    height: 250px;
    background: rgba(223, 157, 157, 0.462);
    border-radius: 5px;
    padding: 30px;
}

.donate-plan-subcontainer3 h3 {
    margin-top: 32px;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 24px;
    color: #121212;
}

.donate-plan-subcontainer3 img {
    width: 58.13px;
    height: 49.77px;
}

.donate-plan-subcontainer3 p {
    font-weight: 400;
    font-size: 16px;
    color: #707070;
    width: 315px;
    height: 101px;
}

/* lives depend style */
.lives-depend-section {
    display: flex;
    justify-content: space-between;
    gap: 83px;
}

.contant {
    width: 493px;
    height: 374px;
}

.lives-title {
    font-weight: 700;
    font-size: 45px;
    color: #121212;
}

.lives-description1 {
    font-weight: 400;
    font-size: 18px;
    color: #707070;
    margin-top: 20px;
    margin-bottom: 20px;
}

.lives-description2 {
    font-weight: 400;
    font-size: 18px;
    color: #707070;
    margin-bottom: 30px;
}

.img1 {
    width: 456px;
    height: 477px;
    background-image: url('../images/donation6.jpg');
    border-radius: 5px;
}

.img2 {
    width: 456px;
    height: 477px;
    background-image: url('../images/donation7.jpg');
    border-radius: 5px;
}

/* Get My Updates section style */
.update-taitle {
    font-weight: 700;
    font-size: 45px;
    color: #121212;
    text-align: center;
}

.update-descriprion {
    font-weight: 400;
    font-size: 18px;
    width: 691px;
    height: 56px;
    text-align: center;
    color: #707070;
    margin-top: 20px;
}

.contact-section {
    width: 809px;
    height: 200px;
    background: #FFF4D6;
    margin-top: 50px;
    margin-bottom: 130px;
}

.contact-item {
    padding: 76px 188px;
    display: flex;
}

.email {
    width: 275px;
    height: 48px;
    background: #D9D9D9;
    border-radius: 5px 0px 0px 5px;
    border: 0;
    padding-left: 10px;
}

.btn-secondary {
    width: 157px;
    height: 48px;
    background-color: rgba(230, 66, 66, 0.811);
    border-radius: 0px 5px 5px 0px;
    border: 0;
    color: white;
    font-size: 20px;
}
/* footer style */
.footer{
    margin: auto;
    background: #0B0D17;
    height: 177px;
    text-align: center;
}
.footer-title{
    font-weight: 400;
font-size: 36px;
color: #FF5959;
font-family: 'Lobster';

}
.footer-description{
    color: #D9DBE1;
    font-weight: 400;
font-size: 14px;
}
.footer-contant{
    padding: 42px 630px;
}